@import url('tram-pub://dreamicons/style.css');
@import url('tram-pub://fonts/stylesheet.css');

html, body {
  font-family: 'Aileron';
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
  user-select: none !important;
  font-size: 1.1em;
  overflow: hidden
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  width: 100%;
  height: 100%
}

h1 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

p {
  max-width: 100%
}

.setupContainer {
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}

.active {
  padding-left: 65px;
  padding-right: 65px;
  padding-top: 65px;
  padding-bottom: 65px;
  width: calc(100% - 165px);
  min-height: calc(100% - 120px);
  max-height: calc(100% - 120px);
  visibility: visible
}

.standardTray {
  float: right;
  -webkit-app-region: no-drag;
}

.standardButton {
  font-family: 'Aileron';
  background-color: transparent;
  color: var(--main-color);
  border: none;
  height: 2.3em;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  outline: none;
  font-size: 1.1em;
}

.standardButton:hover {
  background-color: var(--main-color);
  color: var(--background-color);
  cursor: pointer;
}

.standardButton:active {
  color: var(--main-color);
  background-color: var(--foreground-color);
}

a {
  color: var(--main-color);
}

.noDrag {
  -webkit-app-region: no-drag;
}

.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #cccccc;
}

/* On mouse-over, add a grey background color */
.radioContainer:hover input ~ .checkmark {
  background-color: #eeeeee;
}

/* When the radio button is checked, add a blue background */
.radioContainer input:checked ~ .checkmark {
  background-color: var(--main-color);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radioContainer input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radioContainer .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 0;
  background: #eeeeee;
}

.bgColorConfetti {
  background-color: #E83151 !important;
}

.bgColorDreamsicle {
  background-color: #F8A100 !important;
}

.bgColorBittersweet {
  background-color: #FF765E !important;
}

.bgColorBondi {
  background-color: #009FB7 !important;
}

.bgColorJade {
  background-color: #2db78b !important;
}

.bgColorClover {
  background-color: #29bf12 !important;
}

.bgColorHydrant {
  background-color: #C5132B !important;
}

.bgColorLemon {
  background-color: #F7D425 !important;
}

.bgColorTangerine {
  background-color: #FF5432 !important;
}

.bgColorJam {
  background-color: #A4036F !important;
}

.bgColorCobalt {
  background-color: #2F4FC8 !important;
}

.bgColorBubblegum {
  background-color: #ff1481 !important;
}

.bgColorUFO {
  background-color: #0cce6b !important;
}

.bgColorFunk {
  background-color: #a253db !important;
}

.bgColorIndy {
  background-color: #6969b3 !important;
}

.bgColorVermillion {
  background-color: #c3423f !important;
}

.bgColorBrick {
  background-color: #DA6A63 !important;
}

.bgColorCaramel {
  background-color: #D07934 !important;
}

.bgColorStone {
  background-color: #6d6d6d !important;
}

.bgColorPayne {
  background-color: #4F6D7A !important;
}

.spacer {
  display: inline-block;
  padding-right: 65px;
  position: relative;
  top: 0;
}