@font-face {
  font-family: 'dreamicons';
  src: url('tram-pub://dreamicons/fonts/dreamicons.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

[class^="dream-"], [class*=" dream-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'dreamicons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 17px;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dream-close:before {
  content: "\f00d";
}
.dream-home:before {
  content: "\f015";
}
.dream-maximize:before {
  content: "\f065";
}
.dream-cancel:before {
  content: "\e909";
}
.dream-deny:before {
  content: "\e90c";
}
.dream-gear:before {
  content: "\e90b";
}
.dream-check:before {
  content: "\e908";
}
.dream-information:before {
  content: "\e90a";
}
.dream-forwardandleftarrow:before {
  content: "\e900";
}
.dream-leftarrow:before {
  content: "\e901";
}
.dream-leftanddownarrow:before {
  content: "\e902";
}
.dream-downarrow:before {
  content: "\e903";
}
.dream-rightanddownarrow:before {
  content: "\e904";
}
.dream-rightarrow:before {
  content: "\e905";
}
.dream-forwardandrightarrow:before {
  content: "\e906";
}
.dream-uparrow:before {
  content: "\e907";
}
.dream-reload:before {
  content: "\e90f";
}
.dream-book:before {
  content: "\e910";
}
.dream-bolt:before {
  content: "\e90d";
}
.dream-external:before {
  content: "\e90e";
}