@import url('tram-pub://dreamicons/style.css');
@import url('tram-pub://fonts/stylesheet.css');

:root {
    --sidebar-size: 65px;
    --timing-function: cubic-bezier(0.77, 0, 0.175, 1);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Aileron';
    overflow: hidden;
    font-size: 16px;
    user-select: none;
}

#viewport {
    position: absolute;
    left: var(--sidebar-size);
    width: calc(100% - var(--sidebar-size));
    height: 100%;
    background-color: black
}

webview {
    width:0;
    height:0;
    background-color: #e1e1e1;
    font-family: 'Aileron';
}

.active {
    width: 100%;
    height: 100%;
    background-color: white;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--background-color);
    color: var(--foreground-color);
    width: var(--sidebar-size);
    height: 100%;
    z-index: 9;
    -webkit-app-region: drag;
}

.uiButton {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    width: var(--sidebar-size);
    height: 65px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    outline: none;
    font-size: 18px;
    -webkit-app-region: no-drag;
    transition-timing-function: var(--timing-function);
    transition-duration: 0.125s;
}

.uiButton:hover {
    background-color: var(--main-highlight-bg-color);
    color: var(--main-highlight-text-color);
    animation-fill-mode: forwards;
}

.uiButton:active {
    background-color: var(--main-highlight-text-color);
    color: var(--main-highlight-bg-color);
    transition-duration: 0.075s;
    animation-fill-mode: forwards;
}

webview.tempFullScreen {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#tabButton {
    position: absolute;
    bottom: 0;
}

#feedButton {
    position: absolute;
    bottom: 65px;
}

#shareButton {
    position: absolute;
    bottom: 130px;
}

#settings {
    position: absolute;
    bottom: 195px;
}

#helpBadge {
    position: absolute;
    bottom: 260px;
}

@keyframes darkenerFadeIn {
    from {filter: opacity(0);}
    to {filter: opacity(100%);}
  }
  
  @keyframes darkenerFadeOut {
    from {filter: opacity(100%)}
    to {filter: opacity(0);}
  }

#darkener {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, .79);
    z-index: 9999999;
    -webkit-animation-name: 'darkenerFadeIn';
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: var(--timing-function);
    filter: opacity(100%);
}

.darkenerAnimateOut {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(22, 22, 22, .79);
    z-index: 9999999;
    -webkit-animation-name: 'darkenerFadeOut' !important;
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: var(--timing-function);
    filter: opacity(0%) !important;
}

.pane {
    width: 465px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    background-color: var(--background-color);
}

@keyframes panePullIn {
  from {transform: translateX(-100%)}
  to {transform: none}
}

@keyframes panePullOut {
  from {transform: none;}
  to {transform: translateX(-100%);}
}

.activePane {
    width: 465px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--foreground-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    z-index: 99999999;
    -webkit-animation-name: 'panePullIn';
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: var(--timing-function);
    -webkit-animation-fill-mode: forwards;
    overflow-y: auto;
    overflow-x: hidden;
}

.paneAnimateOut {
    width: 465px;
    height: 100%;
    background-color: var(--background-color);
    color: var(--foreground-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: none;
    z-index: 99999999;
    -webkit-animation-name: 'panePullOut';
    -webkit-animation-duration: 0.25s;
    -webkit-animation-timing-function: var(--timing-function);
    -webkit-animation-fill-mode: forwards;
}

.stickyColumn {
  width: calc(100% - 65px);
  height: 65px;
  padding-left: 0;
  padding-right: 65px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  font-weight: 500;
  font-size: 1.2em;
  cursor: default;
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
  z-index: 9999999999999999999999999999999;
}

.fakeColumn {
  width: calc(100% - 130px);
  height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  cursor: default;
}

.column {
  width: calc(100% - 130px);
  min-height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  color: var(--main-color);
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
}

.column:hover {
  background-color: var(--main-highlight-bg-color);
  color: var(--main-highlight-text-color);
  cursor: pointer;
  animation-fill-mode: forwards;
}

.column:active {
  background-color: var(--main-highlight-text-color);
  color: var(--main-highlight-bg-color);
  transition-duration: 0.075s;
  animation-fill-mode: forwards;
}

.stickyColumn p {
  cursor: default;
}

.bodyBlock {
  width: calc(100% - 130px);
  min-height: 65px;
  padding-left: 65px;
  padding-right: 65px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: left;
  cursor: default;
  animation-fill-mode: forwards;
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
}

.bodyBlock:hover {
  background-color: rgba(127, 127, 127, .50);
  animation-fill-mode: forwards;
}

#dynamicButton {
  display: inline-block;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99999999999999999999999999999999;
}

.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
  margin-left: 65px;
  margin-right: 65px;
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
}

#dynamicButton {
    color: var(--background-color)
}

#dynamicButton:hover {
    background-color: var(--main-highlight-bg-color);
    color: var(--main-highlight-text-color);
    animation-fill-mode: forwards;
}

#dynamicButton:active {
    background-color: var(--main-highlight-text-color);
    color: var(--main-highlight-bg-color);
    transition-duration: 0.075s;
    animation-fill-mode: forwards;
}

#smartField {
  width: calc(100% - 130px);
  position: sticky;
  top: 65px;
  left: 0;
  height: 65px;
  padding: 0;
  padding-left: 65px;
  padding-right: 65px;
  font-size: 18px;
  font-family: 'Aileron';
  border: 0;
  border-radius: 0 0 0 0;
  outline: none;
  background-color: rgba(127, 127, 127, .4);
  color: var(--foreground-color);
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
  user-select: auto;
  cursor: auto;
  z-index: 9999999999999999999999999999999;
}

#smartField:hover, #smartField:active {
  background-color: rgba(127, 127, 127, .5);
  color: var(--foreground-color);
  transition-timing-function: var(--timing-function);
  transition-duration: 0.125s;
  user-select: auto;
  cursor: auto;
}

#smartField::selection {
  background-color: var(--foreground-color);
  color: var(--background-color);
} 
